Channel encoding and decoding/Best/
Channel modulation/Best/
Channel modulation/Data/
Channel without model/Best/
Multiple transmitters receivers/Best/
Knowledge Distillation/Best CM/
Modulation recognition/Data
Knowledge Distillation/Best MTR
Modulation recognition/.ipynb_checkpoints
Modulation recognition/Figures/convnet_confusion_matrix_(snr=*).png
Modulation recognition/Figures/teacher_convnet_confusion_matrix_(snr=*).png
Modulation recognition/Figures/student_convnet_confusion_matrix_(snr=*).png
Modulation recognition/Models
Modulation recognition/Best
Knowledge Distillation/Best RBF
Knowledge Distillation/Best CM Noise
Knowledge Distillation/Best CM Chi2 MSE
Knowledge Distillation/Best CM Chi2 MSE deep
Weights Pruning/Best
Weights Pruning/pruning/__pycache__
